<config>
    <subLocation>./data/hesjustnotthatintoyousub.srt</subLocation>
    <subOtherLanguageLocation>./data/hesjustnotthatintoyoupor.srt</subOtherLanguageLocation>
    <scriptLocation>./data/hesjustnotthatintoyouscript.txt</scriptLocation>
    <newFilesLocation>./data/new/</newFilesLocation>
</config>